@model StoreFrontPowKit.DATA.EF.Product

@{
    ViewBag.Title = "Delete";
}

<div class="mb-4 mt-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-7">
                <h2 class="py-2">@ViewBag.Title</h2>
                <h3>Are you sure you want to delete @Html.DisplayFor(model => model.ProductName)?</h3>
                <hr />

                <dl class="dl-horizontal">
                    <div class="clearfix">

                        <img src="~/Content/images/products/t_@Model.ProductImage" alt="Product image" title="@Model.ProductName" class="float-start" />

                        <dt>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ProductName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UnitPrice)
                        </dd>

                    </div>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Category.CategoryName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Category.CategoryName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProductStatus.StatusName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductStatus.StatusName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Supplier.CompanyName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Supplier.CompanyName)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        @Html.ActionLink("Back to List", "SearchProducts")
                    </div>
                }
            </div>
        </div>
    </div>
</div>