@model IEnumerable<StoreFrontPowKit.DATA.EF.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <td>
            @if (User.IsInRole("Admin") || User.IsInRole("Operations Employee"))
            {
                <span>@Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID }) |</span>
            }

            @Html.ActionLink("Details", "Details", new { id = item.DepartmentID })

            @if (User.IsInRole("Admin") || User.IsInRole("Operations Employee"))
            {
                @:|
                @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID })
            }
        </td>
    </tr>
}

</table>
