@model IEnumerable<StoreFrontPowKit.DATA.EF.Department>

@{
    ViewBag.Title = "Departments";
}

<div class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 py-2">
                <h2 class="py-2">@ViewBag.Title</h2>
                <hr />

                @if (User.IsInRole("Admin") || User.IsInRole("Operations Employee"))
                {
                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                }

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DepartmentName)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentName)
                            </td>
                            <td>
                                @if (User.IsInRole("Admin") || User.IsInRole("Operations Employee"))
                                {
                                    <span>@Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID }) | </span>
                                }

                                @if (User.IsInRole("Admin") || User.IsInRole("Operations Employee"))
                                {
                                    @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID })
                                }
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
