@model IEnumerable<StoreFrontPowKit.DATA.EF.Product>

@{
    ViewBag.Title = "Product List";
}

<div class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md py-2">
                <h2 class="py-2">@ViewBag.Title</h2>
                <hr />

                @if (User.IsInRole("Admin") || User.IsInRole("Operations Employee"))
                {
                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                }

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductImage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductStatus.StatusName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Supplier.CompanyName)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/Content/images/products/t_@item.ProductImage" alt="Product image" title="@item.ProductName" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductStatus.StatusName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                            </td>
                            <td>
                                @if (User.IsInRole("Admin") || User.IsInRole("Operations Employee"))
                                {
                                    <span>@Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |</span>
                                }

                                @Html.ActionLink("Details", "Details", new { id = item.ProductID })

                                @if (User.IsInRole("Admin") || User.IsInRole("Operations Employee"))
                                {
                                    @:|
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                                }
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
