@model IEnumerable<StoreFrontPowKit.DATA.EF.Category>

@{
    ViewBag.Title = "Product Cateogries";
}

<div class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 py-2">
                <h2 class="py-2">@ViewBag.Title</h2>
                <hr />

                @if (User.IsInRole("Admin") || User.IsInRole("Operations Employee"))
                {
                    <button id="toggleCategoryCreate" class="btn btn-primary mb-2">Add New</button>

                    <div id="CategoryCreate">
                        @Html.Partial("CategoryCreate", new StoreFrontPowKit.DATA.EF.Category())
                    </div>
                }

                <table class="table" id="CategoriesTable">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr id="Category-@item.CategoryID">
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @if (User.IsInRole("Admin") || User.IsInRole("Operations Employee"))
                                {
                                    <span><a href="" class="EditLink" id="@item.CategoryID">Edit</a> |</span>
                                }

                                @if (User.IsInRole("Admin") || User.IsInRole("Operations Employee"))
                                {
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })*@
                                    @Ajax.ActionLink("Delete", "AjaxDelete", "Categories",
                                    new { id = item.CategoryID },
                                    new AjaxOptions
                                    {
                                       HttpMethod = "POST",
                                       Confirm = "Are you sure you want to delete this category?",
                                       OnSuccess = "deleteConfirmed",
                                       OnFailure = "deleteFailed"
                                    })
                                }

                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        function deleteConfirmed(response, status, data) {

            var rowId = "#Category-" + response.id;
            $("#CategoriesTable").find(rowId).remove();

            //display a status message
            $("#MessageContent").html("<div class='alert alert-success'>" + response.message + "</div>");
        }

        function deleteFailed(response, status, data) {
            $("#MessageContent").html("<div class='alert alert-danger'>Delete unsuccessful. Is the Category referenced by a Product? If so, change the product's category, or delete that product first.</div>");
        }

        // AJAX - Create
        $("#CategoryCreate").hide();
        $("#toggleCategoryCreate").click(function () {
            $("#CategoryCreate").toggle();
        });

        // AJAX - Create Form Submission
        $("#CategoryCreateForm").submit(function (e) {
            var formData = $(this).serializeArray();
            e.preventDefault();

            $.ajax({
                url: "/Categories/AjaxCreate",
                type: "POST",
                data: formData,
                dataType: "json",
                error: function (e) {
                    $("#MessageContent").html("<div class='alert alert-danger'>Error. Unable to create.</div>")
                },
                success: function (pub) {
                    $("#MessageContent").html("<div class='alert alert-success'>Category added.</div>");
                    $("#CategoryCreateForm")[0].reset();
                    $(function () {
                        var row = '<tr><td>' + pub.CategoryName
                            + '</td><td>Refresh to view options</td></tr>';
                        $("#CategoriesTable").append(row);
                    });
                }
            });
        });

        // AJAX - Update
        var originalContent = null;

        $("a.EditLink").click(function (e) {
            e.preventDefault();
            var categoryID = $(this).attr("id");

            var row = $("#Category-" + categoryID).children();

            originalContent = {
                CatId: categoryID,
                CatName: row[0].innerText,
            };
            console.log(originalContent);

            $.get("/Categories/CategoryEdit/" + categoryID, function (data) {
                $("#Category-" + categoryID).replaceWith(
                    '<tr id="Category-' + categoryID + '"><td colspan="5">' + data + '</td></tr>'
                );
            });
        });

        $(document).on("click", "#saveUpdate", function (e) {
            var formData = $("#CategoryEditForm").serializeArray();
            console.log(formData);
            $('#MessageContent').html("<div class='alert alert-info'>Please Wait...</div>");

            $.ajax({
                url: "/Categories/AjaxEdit",
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (data) {
                    $('#MessageContent').html("<div class='alert alert-success'>Your Record was Successfully Updated.</div>");
                    $('#CategoryEditForm')[0].reset();

                    $(function () {
                        var row = '<tr><td>' + data.CategoryName +
                            '<tr><td>' +
                            '</td><td>Refresh to view options</td></tr>';

                        $('#Category-' + data.CategoryID).replaceWith(row);
                        //$("#CategoryEdit").dialog('close');
                    });

                },
                error: function (e) {
                    $('#MessageContent').html("<div class='alert alert-warning'>There was an error. Please try again or contact the site administrator.</div>");
                    $(function () {
                        var row = '<tr id="Category-' + originalContent.CatId + '"> <td>' + originalContent.CatName +
                            '</td><td>' +
                            '</td><td>Refresh to view options</td></tr>';

                        $('#Category-' + data.CategoryID).replaceWith(row);
                    });
                }
            });
        });

    </script>
}
