@model StoreFrontPowKit.DATA.EF.Employee

@{
    ViewBag.Title = "Details";
}

<div class="mb-4 mt-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-7">
                <h2 class="py-2">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
                <h4>Details</h4>
                <hr />

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HasDirectReport)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HasDirectReport)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DirectReportID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DirectReportID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BirthDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Department.DepartmentName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Department.DepartmentName)
                    </dd>

                </dl>

                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>